{% extends 'cv/base.html' %}

{% block content %}
    <h2>Edit CV</h2>
    <form method="POST" class="cv-form">{% csrf_token %}
        {{ form.as_p }}
        {% for category in categories %}
            <hr>
                <div class = 'edit-heading'><h2><a href="{% url 'item_list' pk=category.pk %}">{{ category.title }}</a></h2></div>
                <div class = 'edit-remove-buttons'>
                    <a class="btn btn-primary" href="{% url 'category_edit' pk=category.pk %}">Edit</a>
                    <a class="btn btn-primary" href="{% url 'category_remove' pk=category.pk %}">Remove</a>
                </div>
                <br>
                {% for item in category.items.all %}
                    {% if item.title != "" %}
                        <b>{{ item.title |linebreaksbr }}</b>
                        <br>
                    {% endif %}
                    <a>{{ item.text |linebreaksbr }}</a>    
                    <p></p>
                {% endfor %}
        {% endfor %}
        <br>
        <a href="{% url 'category_new' %}" class="btn btn-secondary" >Add New Category</a>
        <button type="submit" class="save btn btn-primary" >Save</button>
    </form>
{% endblock %}