{% extends 'cv/base.html' %}

{% block content %}
    <h2>Edit CV</h2>
    <form method="POST" class="cv-form">{% csrf_token %}
        {{ form.as_p }}
        {% for category in categories %}
            <h2><a href="{% url 'add_item' pk=category.pk %}">{{ category.title }}</a></h2>
            {% for item in category.items.all %}
                 <a>{{ item.text |linebreaksbr }}</a>
                 <br>
            {% endfor %}
            <br>
        {% endfor %}
        <br>
        <a href="{% url 'category_new' %}" class="btn btn-secondary" >Add New Category</a>
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    
    
{% endblock %}