{% extends 'cv/base.html' %}

{% block content %}
    <h2>Edit CV</h2>
    <form method="POST" class="cv-form">{% csrf_token %}
        {{ form.as_p }}
        {% for category in categories %}
            <h2><a href="{% url 'add_item' pk=category.pk %}">{{ category.title }}</a></h2>
            {% for item in category.items.all %}
                 <p>{{ item.text }}</p>
            {% endfor %}
        {% endfor %}
        <h2><a href="{% url 'category_new' %}" class="btn btn-default" >Add New Category</a></h2>
        <button type="submit" class="save btn btn-default">Save</button>
        
    </form>
    
    
{% endblock %}